<!-- BEGIN PAGE CONTAINER-->

<div class="container-fluid">

	<!-- BEGIN PAGE HEADER-->

	<div class="row-fluid">

		<div class="span12">

			<h3 class="page-title">

				业务概况 <small>数据一览</small>

			</h3>

			<ul class="breadcrumb">

				<li><i class="icon-home"></i> <a href="index.html">首页</a> <i
					class="icon-angle-right"></i></li>

				<li><a href="#">业务概况</a></li>

				<li class="pull-right no-text-shadow">

					<div id="dashboard-report-range" class="">
						<i class="icon-calendar"></i> <input id="data-of-date"
							data-provide="datepicker" placeholder=""
							style="border: 1 solid grey; color: blue; width: 100px; background-color: #ECECEC;"></input>

						<div class="icon-search icon-search-find"></div>
						<span>搜索往日数据</span>

					</div>

				</li>

			</ul>

			<!-- END PAGE TITLE & BREADCRUMB-->

		</div>

	</div>

	<!-- END PAGE HEADER-->

	<div id="dashboard">

		<!-- BEGIN DASHBOARD STATS -->

		<div class="row-fluid">

			<div class="span3 responsive" data-tablet="span6"
				data-desktop="span3">

				<div class="dashboard-stat green">

					<div class="visual">

						<i class="icon-shopping-cart"></i>

					</div>

					<div class="details">

						<div class="number ordernumber">12</div>

						<div class="desc">待处理预约订单</div>

					</div>

					<a class="more" id="load-order-id"> 进入查看... <i
						class="m-icon-swapright m-icon-white"></i>

					</a>

				</div>

			</div>

			<div class="span3 responsive" data-tablet="span6  fix-offset"
				data-desktop="span3">

				<div class="dashboard-stat purple">

					<div class="visual">

						<i class="icon-home"></i>

					</div>

					<div class="details">

						<div class="number apnumber">80</div>

						<div class="desc">平台总房源</div>

					</div>

					<a class="more" id="load-aps-id"> 进入查看... <i
						class="m-icon-swapright m-icon-white"></i>

					</a>

				</div>

			</div>

			<div class="span3 responsive" data-tablet="span6"
				data-desktop="span3">

				<div class="dashboard-stat blue">

					<div class="visual">

						<i class="icon-group"></i>

					</div>

					<div class="details">

						<div class="number renternumber">1349</div>

						<div class="desc">平台总用户数</div>

					</div>

					<a class="more" id="load-renters-id"> 进入用户管理... <i
						class="m-icon-swapright m-icon-white"></i>

					</a>

				</div>

			</div>

			<div class="span3 responsive" data-tablet="span6"
				data-desktop="span3">

				<div class="dashboard-stat yellow">

					<div class="visual">

						<i class="icon-bar-chart"></i>

					</div>

					<div class="details">

						<div class="number account" >
							<small>￥</small>120,000
						</div>

						<div class="desc">本月营业额</div>

					</div>

					<a class="more" id="viewAcount"> 查看 <i
						class="m-icon-swapright m-icon-white"></i>

					</a>

				</div>

			</div>

		</div>

		<!-- END DASHBOARD STATS -->

	</div>

</div>

<script>
	$(function() {
		var url = "houseOrder/doCount";
		$.getJSON(url, function(result) {
			$(".ordernumber").html(result.data)
		});
		var url = "renter/doCount"
			$.getJSON(url, function(result) {
				$(".renternumber").html(result.data)
			});
		var url = "ap/doCount"
			$.getJSON(url, function(result) {
				$(".apnumber").html(result.data)
			});
		loadpage("load-order-id", "houseOrder/doHouseOrderListUI");
		loadpage("load-renters-id", "renter/doRenterListUI");
		loadpage("load-aps-id", "ap/doApListUI");
		loadpage("viewAcount", "account/doAccountListUI");
		
		doGetAccountCountInfo();
	})
	
	function doGetAccountCountInfo() {
		//$("#checkAll").prop("checked",false);
		//1.定义请求的url
		const url = "account/doAccountAmount"; //常量不可修改
		//3.发送异步请求(借助jquery中的ajax函数)
		$.getJSON(url, function(result) {
			console.log(result);
			$(".account").empty();
			$(".account").append("<small>￥</small>").append(result.data);
		});
	}

	function loadpage(id, url) {
		$("#" + id).click(function() {
			$(".page-content").load(url)
		})
	}
</script>