<!-- BEGIN PAGE CONTAINER-->

<div class="container-fluid">

	<!-- BEGIN PAGE HEADER-->

	<div class="row-fluid">

		<div class="span12">

			<h3 class="page-title">

				业务概况 <small>数据一览</small>

			</h3>

			<ul class="breadcrumb">

				<li><i class="icon-home"></i> <a href="index.html">首页</a> <i
					class="icon-angle-right"></i></li>

				<li><a href="#">业务概况</a></li>

				<li class="pull-right no-text-shadow">

					<div id="dashboard-report-range" class="">
						<i class="icon-calendar"></i> <input id="data-of-date"
							data-provide="datepicker" placeholder=""
							style="border: 1 solid grey; color: blue; width: 100px; background-color: #ECECEC;"></input>

						<div class="icon-search icon-search-find"></div>
						<span>搜索往日数据</span>

					</div>

				</li>

			</ul>

			<!-- END PAGE TITLE & BREADCRUMB-->

		</div>

	</div>

	<!-- END PAGE HEADER-->

	<div id="dashboard">

		<!-- BEGIN DASHBOARD STATS -->

		<div class="row-fluid">

			<div class="span3 responsive" data-tablet="span6"
				data-desktop="span3">

				<div class="dashboard-stat green">

					<div class="visual">

						<i class="icon-shopping-cart"></i>

					</div>

					<div class="details">

						<div class="number">12</div>

						<div class="desc">待处理预约订单</div>

					</div>

					<a class="more" href="#"> 进入查看... <i
						class="m-icon-swapright m-icon-white"></i>

					</a>

				</div>

			</div>

			<div class="span3 responsive" data-tablet="span6  fix-offset"
				data-desktop="span3">

				<div class="dashboard-stat purple">

					<div class="visual">

						<i class="icon-globe"></i>

					</div>

					<div class="details">

						<div class="number">80</div>

						<div class="desc">今日保洁服务订单</div>

					</div>

					<a class="more" href="#"> 进入查看... <i
						class="m-icon-swapright m-icon-white"></i>

					</a>

				</div>

			</div>

			<div class="span3 responsive" data-tablet="span6"
				data-desktop="span3">

				<div class="dashboard-stat blue">

					<div class="visual">

						<i class="icon-comments"></i>

					</div>

					<div class="details">

						<div class="number">1349</div>

						<div class="desc">平台总用户数</div>

					</div>

					<a class="more" href="#"> 进入用户管理... <i
						class="m-icon-swapright m-icon-white"></i>

					</a>

				</div>

			</div>

			<div class="span3 responsive" data-tablet="span6"
				data-desktop="span3">

				<div class="dashboard-stat yellow">

					<div class="visual">

						<i class="icon-bar-chart"></i>

					</div>

					<div class="details">

						<div class="number">
							<small>￥</small>120,000
						</div>

						<div class="desc">本月营业额</div>

					</div>

					<a class="more" href="#"> 查看 <i
						class="m-icon-swapright m-icon-white"></i>

					</a>

				</div>

			</div>

		</div>

		<!-- END DASHBOARD STATS -->

	</div>

</div>