<div id="historyInfoCountId">
	<div class="portlet sale-summary" style="width: 130%;">
		<ul class="unstyled" style="white-space: nowrap">
			<li style="float: left; display: inline-block; padding-left: 25px">
				<span class="sale-info" style="font-size: medium;">姓名:</span> <span
				class="sale-num" id="ownername"> <a class="sale-num">/</a></span>
			</li>
			<li style="float: left; display: inline-block; padding-left: 65px"><span
				class="sale-info" style="font-size: medium;">联系电话:</span> <span
				class="sale-num" id="tel">/</span></li>
			<li style="float: left; display: inline-block; padding-left: 65px"><span
				class="sale-info" style="font-size: medium;">公寓数量:</span> <span
				class="sale-num" id="apCount"><a href="">/</a></span></li>
			<li style="float: left; display: inline-block; padding-left: 75px"><span
				class="sale-info" style="font-size: medium;">在租公寓数量:</span> <span
				class="sale-num" id="onRentApCount">/</span></li>
			<li style="float: left; display: inline-block;padding-left:360px"><span
				 id="prevPage" style="text-decoration: underline;font-size:18" onmouseover="this.style.color='blue'" onmouseout="this.style.color='black'">返回上一页</span></li>
		</ul>
	</div>
</div>
<div id="boxInfoId">
	<!-- END PAGE HEADER-->
	<!-- BEGIN PAGE CONTENT-->
	<div class="row-fluid">
		<!-- BEGIN SAMPLE TABLE PORTLET-->
		<div class="portlet box blue">
			<div class="portlet-title">
				<div class="caption">
					<i class="icon-cogs"></i>公寓详情
				</div>
				<div class="tools">
					<a href="javascript:;" class="collapse"></a> <a
						href="#portlet-config" data-toggle="modal" class="config"></a> <a
						href="javascript:;" class="reload" id="renterReload"></a>
				</div>
			</div>
			<div class="portlet-body">
				<table class="table table-hover">
					<thead>
						<tr role="row">
							<th>序号</th>
							<th>公寓编号</th>
							<th>公寓区域</th>
							<th>公寓名称</th>
							<th>公寓地址</th>
							<th>公寓类型</th>
							<th>面积(m<sup>2</sup>)
							</th>
							<th>价格(元)</th>
							<th>出租状态</th>
							<th>创建时间</th>
							<th>操作</th>
						</tr>
					</thead>
					<tbody id="tbodyId">
						<tr>
							<td colspan="9"
								style="text-align: left; border: none; font-size: medium;">
								正在努力加载数据&nbsp;<img src="./media/image/loading.gif"
								align="middle">
							</td>
					</tbody>
				</table>
				<div id="pageId" class="pagination pagination-right" style="white-space: nowrap"></div>
			</div>
		</div>
		<!-- END SAMPLE TABLE PORTLET-->
		<!-- END BORDERED TABLE PORTLET-->
	</div>
</div>
<script type="text/javascript">
  	$(function(){
  		/*异步加载分页页面  
  	     *1) 当load函数异步请求结束后再执行doGetObjects
  		*/
  		//doGetObjects();
  		//获取统计信息
  		$("#pageId").load("doPageUI",doGetObjects); //方法后不写(),否则不是加载完后执行 ,注意多线程	
  		$(".input-append").on("click","#searchClick",doQueryObjects)
  		$("#renterReload").on("click",doQueryObjects);
  		$("#tbodyId").on("click","#deleteId",doDeleteObject);
  		//返回加载用户信息详情
  		$("#reloadPageId").click(function(){
  			$(".page-content").load("owner/doOwnerListUI");
  		});
  		$("#prevPage").click(function(){
  			$(".page-content").load("owner/doOwnerListUI");
  		});
  	})
	function doDeleteObject(){
  		//1.获取选中记录的id并校验
  		let id = $(this).parents("tr").data("id");
  		console.log("id:"+id);
  		//2.提示是否删除
  		if(!confirm("确认删除吗？")) return;  //windows函数
  		//3.定义删除的url
  		var url = "owner/doDeleteAp";
  		//4.定义删除时要传递的参数
  		var params = {"id":id};
  		//5.执行异步删除业务
  		$.post(url,params,function(result){
  			if(result.state==1){
  				alert(result.message);
  				//刷新策略(重新查询,清空tbody内容)
  				doRefresh();
  			}else{
  				alert(result.message);
  			}
  			doRefresh();
  		});
  	}
  	/**修改当前页码值*/
  	function doRefresh(){
  		//1.获取当期页码值
  		let pageCurrent = $("#pageId").data("pageCurrent");  //data域中的值
  		let pageCount = $("#pageId").data("pageCount");  //data域中的值
  		
  		//2.获取checkAll的状态值
  		let flag = 'true';
  		if(pageCurrent==pageCount&&flag&&pageCurrent==1){
  			$("#pageId").load("doPageUI",doGetObjects); //方法后不写(),否则不是加载完后执行 ,注意多线程	
  			doSetInition();
  			return;
  		}
  		//3.修改当前页码值
  		if(pageCurrent!=1&&flag&&pageCurrent==pageCount){
  			pageCurrent--;
  			$("#pageId").data("pageCurrent",pageCurrent);
  		}
  		doGetObjects();
  		/* if(pageCount==0){
  			$("#tbodyId").empty();
  		} */
  	}
  	function doQueryObjects(){
  		//1.初始化
  		$("#pageId").data("pageCurrent",1);
  		$("#pageId").data("pageSize",0);
  		//基于当前用户名查询日志信息
  		doGetObjects();	
  	}
  		/*异步查询租客信息  */   
  	function doGetObjects(){ //注意文档就绪事件,
  			//$("#checkAll").prop("checked",false);
  			//1.定义请求的url
  			const url = "owner/doFindPersonApList";  //常量不可修改
  			//2.定义请求的参数
  			//debugger
  			var pageCurrent = $("#pageId").data("pageCurrent");  //data域中的值
  			var pageSize = $("#pageId").data("pageSize");  //data域中的值
  			
  			if(!pageCurrent) pageCurrent=1;
  			var params = {"pageCurrent":pageCurrent} //json格式对象 "pageCurrent=1"
  			var phone = $("#personId").data("phone");  //data域中的值;
  			console.log("phone:"+phone);
  			params.phone=phone;
  			console.log(params);
  			//3.发送异步请求(借助jquery中的ajax函数)
  			$.getJSON(url,params,function(result){
  				console.log(result);
  				if(result.state==1){
  					doHandleResponseResult(result);
  				}else{
  					$("#personId").data("state",result.state);
  					$(".page-content").load("owner/doOwnerListUI");
  					alert("无公寓信息!");	
  				}	
  			});
  		}
  	 	function doHandleResponseResult(result){
  	  		if(result.state==1){
  	  			$("#pageId").data("pageSize",result.data.pageSize);
				$("#pageId").data("pageCurrent",result.data.pageCurrent)
  	  			//1.将公寓信息记录添加到tbody中
  	  			doSetTableBodyRows(result.data.records[0].ownerPersonAp);  //错误records 不是json格式
  	  			//2.将公寓信息分页信息添加到pageId位置
  	  			doSetPagination(result.data)
  	  			//3.业主公寓信息显示
  	  			$("#ownername").empty();
  	  			$("#tel").empty();
  	  			$("#apCount").empty();
  	  			$("#onRentApCount").empty();
  	  			$("#ownername").append(result.data.records[0].ownerName);
  	  			$("#tel").append($("#personId").data("phone"));
  	  			$("#apCount").append(result.data.records[0].apNumber);
  	  			$("#onRentApCount").append(result.data.records[0].onRentApNumber);
  	  		}else{
  	  		    let tBody = $("#tbodyId");
  	  		    tBody.empty();
	  	  		$(".rowCount").html("总记录数(0)");
	  			$(".pageCount").html("总页数(0)");
	  			$(".pageCurrent").html("当前页(1)");
	  			$("#checkAll").prop("checked",false);
	  			//let tr = $("<tr></tr>");
	  			let td = "<span class="+"sale-num"+">"+"无数据记录!"+"</span>";
	  			//tr.append(td);
	  			tBody.append(td);
  	  			//alert(result.message);
  	  		}
  	  	}
  	 function doSetTableBodyRows(records){
  	  		//1.获取tbody对象，并清空记录
  	  		let tBody=$("#tbodyId");  //错误大括号  //let局部作用域   es6的语法
  	  		tBody.empty();
  	  		//2.迭代日志记录
  	  		 for(let i=0;i<records.length;i++){
  	  			//2.1创建tr对象
  	  			let tr=$("<tr></tr>");
  	  			tr.data("id",records[i].id);
  	  			//2.2创建多个td对象(列)
  	  			let tds=doCreateTds(records[i],i);
  	  			//2.3将创建的td追加到tr对象
  	  			tr.append(tds)
  	  			//2.4将tr对象追加到tbody中
  	  			tBody.append(tr); 
  	  		}
  	  	}
	 function doCreateTds(data,i){
		 //<span class="label label-success">Approved</span>
		 var pageCurrent = $("#pageId").data("pageCurrent");  //data域中的值
		 var pageSize = $("#pageId").data("pageSize");  //data域中的值
	  	 var serialNum = (pageCurrent-1)*pageSize+i+1;
	  	 let tds="<td>"+serialNum+"</td>"+
	  		   	 "<td>"+data.id+"</td>"+
	  		     "<td>"+data.district+"</td>"+
	  		     "<td>"+data.name+"</td>"+
	  		     "<td>"+data.addr+"</td>"+
	  		     "<td>"+data.type+"</td>"+
	  		     "<td>"+data.place+"</td>"+
	  		     "<td>"+data.price+"</td>";	    
	  	if(data.status=="已租"){
	  		tds = tds+"<td id='status'><span class='label label-success label-large'>"+data.status+"</span></td>";
  		} else if(data.status=="未租"){
  			tds = tds+"<td id='status'><span class='label label-info'>"+data.status+"</span></td>";	
  		}else {
  			tds = tds+"<td id='status'><span class='label label-gray label-small'>"+data.status+"</span></td>";
  		}	
	  	tds=tds+"<td>"+data.createdTime+"</td>"+
	  	     "<td class='deleteClass'><a id='deleteId' class='btn mini black'><i class='icon-trash'></i>删除</a></td>";
	 	  return tds;
	 }
</script>