<div class="container-fluid">
	<div class="row-fluid">

		<div class="span12">
			<h3 class="page-title">档案管理</h3>
			<ul class="breadcrumb">
				<li><i class="icon-cogs"></i> <a href="#">档案管理</a> <i
					class="icon-angle-right"></i></li>
				<li><a href="#">服务人员管理</a></li>
			</ul>
			<!-- END PAGE TITLE & BREADCRUMB-->
		</div>

		<style type="text/css">
.bnupdate {
	background-color: rgb(75%, 56%, 25%);
	color: #fff;
}

.bndelet {
	background-color: rgb(75%, 25%, 25%);
	color: #fff;
}
</style>
		<div class="portlet box light-grey">
			<div class="portlet-title">
				<div class="caption">
					<i class="icon-globe"></i>
					<div class="caption titleName">服务人员管理</div>
				</div>
			</div>
			<div class="portlet-body">
				<div id="sample_1_wrapper" class="dataTables_wrapper form-inline"
					role="grid">
					<div>
						<div style="position: absolute; left: 12px;">
							<button id="removelist" class="btn red">
								删 除 <i class="icon-remove"></i>
							</button>
						</div>
						<div style="position: absolute; right: 40%;">
							<label>搜索 <select id="chtype" name="city"
								style="width: 95px;">
									<option value="id">编号</option>
									<option value="name" selected="selected">姓名</option>
									<option value="gender">性别</option>
									<option value="age">年龄</option>
									<option value="phone">电话</option>
									<option value="carno">身份证</option>
									<option value="scope">服务区域</option>
									<option value="status">服务状态</option>
									<option value="ability">绩效分</option>
							</select> <input id="chtext" type="text" placeholder="搜索内容...">
								<button onclick="doGetObjects()">
									<div class="icon-search icon-search-find"></div>
								</button>
							</label>
						</div>
						<div style="position: absolute; right: 60px;">
							<button onclick="fnEditUI(0)" class="btn green btn-add">
								增 加 <i class="icon-plus"></i>
							</button>
						</div>
					</div>
					<br> <br>
					<div>
						<table
							class="table table-striped table-bordered table-hover dataTable"
							id="sample_1" aria-describedby="sample_1_info">
							<thead>
								<tr role="row">
									<th style="width: 24px;" class="sorting_disabled"
										role="columnheader" rowspan="1" colspan="1" aria-label=""><input
										type="checkbox" id="checkAll"></th>
									<th class="hidden-480 sorting_disabled" role="columnheader"
										rowspan="1" colspan="1" aria-label="Joined"
										style="width: 50px;">编号</th>
									<th class="hidden-480 sorting_disabled" role="columnheader"
										rowspan="1" colspan="1" aria-label="Joined"
										style="width: 80px;">姓名</th>
									<th class="hidden-480 sorting_disabled" role="columnheader"
										rowspan="1" colspan="1" aria-label="Email"
										style="width: 35px;">性别</th>
									<th class="hidden-480 sorting_disabled" role="columnheader"
										rowspan="1" colspan="1" aria-label="Joined"
										style="width: 35px;">年龄</th>
									<th class="hidden-480 sorting_disabled" role="columnheader"
										rowspan="1" colspan="1" aria-label="Joined"
										style="width: 100px;">电话</th>
									<th class="hidden-480 sorting_disabled" role="columnheader"
										rowspan="1" colspan="1" aria-label="Joined"
										style="width: 100px;">身份证</th>
									<th class="hidden-480 sorting_disabled" role="columnheader"
										rowspan="1" colspan="1" aria-label="Joined"
										style="width: 65px;">服务区域</th>
									<th class="hidden-480 sorting_disabled" role="columnheader"
										rowspan="1" colspan="1" aria-label="Joined"
										style="width: 65px;">服务状态</th>
									<th class="hidden-480 sorting_disabled" role="columnheader"
										rowspan="1" colspan="1" aria-label="Joined"
										style="width: 65px;">注册日期</th>
									<th class="hidden-480 sorting_disabled" role="columnheader"
										rowspan="1" colspan="1" aria-label="Joined"
										style="width: 40px;">绩效</th>
									<th class="hidden-480 sorting_disabled" role="columnheader"
										rowspan="1" colspan="1" aria-label="Joined"
										style="width: 100px;">操作</th>
								</tr>
							</thead>

							<tbody role="alert" aria-live="polite" aria-relevant="all"
								id="tbodyId">
								<tr class="gradeX odd">
									<td class="sorting_1"><input type="checkbox"
										class="checkboxes" value="1"></td>
									<td>W001</td>
									<td>李大妈</td>
									<td>女</td>
									<td>50</td>
									<td>13838383838</td>
									<td>430523196907153316</td>
									<td>龙华</td>
									<td class=" "><span class="label label-success">空闲</span></td>
									<td>2019-9-9</td>
									<td class=" "><span class="label label-warning">90</span></td>
									<td><a>修改</a> | <a>删除</a></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div id="pageId" class="pagination pagination-right"></div>
				<br>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	$(function() {
		$("#pageId").load("doPageUI", doGetObjects); //载入网页获取数据
		$("#checkAll").change(doChangeTBodyCheckboxState); //全选/全不选事件
		// $("#tbodyId").on("change", ".cBox", doChangeTHeadCheckboxState); //tbody中选择事件
		$("#removelist").on("click", doDeleteObjects);
	});

	//载入网页获取数据
	function doGetObjects() {
		//初始化thead中checkbox对象的状态
		$("#checkAll").prop("checked", false);
		//1.定义请求的url
		const url = "arc/doFindPageObjects";
		//2.定义请求的参数
		var pageCurrent = $("#pageId").data("pageCurrent");
		if (!pageCurrent)
			pageCurrent = 1;
		var params = {
			"pageCurrent" : pageCurrent
		}; //"pageCurrent=1"

		var chtext = $("#chtext").val();
		//点击查询按钮时username可能会输入一个值
		if (chtext) {
			params.chtype = $("#chtype").val();
			params.chtext = $("#chtext").val();
		}
		//3.发送异步请求(借助jquery中的ajax函数)
		$.getJSON(url, params, function(result) {
			//result是谁?对应服务端的JsonResult
			console.log(result)
			doHandleResponseResult(result);
		});
	}

	function doHandleResponseResult(result) {
		if (result.state == 1) {
			doSetTableBodyRows(result.data.records)
			doSetPagination(result.data);
		} else {
			alert(result.message);
		}
	}

	//将当前页记录追加到tbody中
	function doSetTableBodyRows(records) {
		//1.获取tbody对象,并清空数据
		let tBody = $("tbody"); //let为ES6语法
		tBody.empty();
		tBody.empty();
		//2.迭代日志记录records,将其追加到tbody
		for (let i = 0; i < records.length; i++) {
			//2.1创建tr对象(一行)
			let tr = $("<tr></tr>");
			//绑定数据到tr
			tr.data("rowData", records[i]);
			//2.2创建多个td对象(多列)
			let tds = doCreateTds(records[i]);
			//2.3将创建的td追加到tr对象中
			tr.append(tds);
			//2.4将tr追加到tbody中
			tBody.append(tr);
		}
	}

	function doCreateTds(data) {
		var redate = new Date(data.regtime);
		var statusvl = (data.status == "空闲" ? '<span class="label label-success">空闲</span>'
				: '<span class="label label-warning">' + data.status
						+ '</span>');
		var greenvl = (data.ability + 1) * 0.6 + 20;
		var abilityvl = '<span style = "background-color: rgb(25%,' + greenvl
				+ '%,25%);color: #fff;" >　' + data.ability + '　</span>'
		console.log(abilityvl)
		console.log("<td>" + abilityvl + "</td>")
		var tds = "<td><input id='rowid" + data.id + "' type='checkbox' class='cBox' name='cItem' value='" + data.id +
			"'></td>"
				+ "<td>"
				+ data.id
				+ "</td>"
				+ "<td>"
				+ data.name
				+ "</td>"
				+ "<td>"
				+ data.gender
				+ "</td>"
				+ "<td>"
				+ data.age
				+ "</td>"
				+ "<td>"
				+ data.phone
				+ "</td>"
				+ "<td>"
				+ data.carno
				+ "</td>"
				+ "<td>"
				+ data.scope
				+ "</td>"
				+ "<td>"
				+ statusvl
				+ "</td>"
				+ "<td>"
				+ redate.getFullYear()
				+ "-"
				+ (redate.getMonth() + 1)
				+ "-"
				+ redate.getDate()
				+ "</td>"
				+ "<td>"
				+ abilityvl
				+ "</td>"
				+ "<td><a class='bnupdate' onclick= fnEditUI("
				+ data.id
				+ ")>修改<i class='icon-edit'/></a> | <a class='bndelet' onclick= doRemove("
				+ data.id + ")>删除<i class='icon-remove'/></a> </td>";
		return tds;
	}

	function doChangeTBodyCheckboxState() { //全选/全不选事件
		//1.获取全选(checkAll)对象的状态值
		let flag = $(this).prop("checked");
		//2.修改tbody中checkbox对象的状态值
		$("#tbodyId input[type='checkbox']").each(function() {
			$(this).prop("checked", flag);
		})
	}

	function doChangeTHeadCheckboxState() { //tbody中选择事件
		//1.获取所有tbody中checkbox对象状态相与的结果
		var flag = true;
		$("#tbodyId input[type='checkbox']").each(function() {
			flag = flag && $(this).prop("checked");
		});
		//2.修改thead中checkbox的值
		$("#checkAll").prop("checked", flag);
	}

	//异步加载编辑页面
	function fnEditUI(id) {
		var title;
		if (id == 0) {
			title = "服务人员管理 - 增加";
		} else {
			//设置标题
			title = "服务人员管理 - 修改";
			//获取选中的当前行的记录(从tr对象上获取)
			var rowData = doGetCheckedItem(id);
			console.log("list.rowData", rowData);
			//重新绑定数据到$(".portlet-body")
			$(".portlet-body").data("rowData", rowData);
		}
		//2.异步加载编辑页面
		$(".portlet-body").load("arc/doEditUI", function() {
			$(".titleName").html(title);
		});
	}

	function doGetCheckedItem(id) {
		var rowid = "#rowid" + id
		var tr = $(rowid).parents("tr");

		//这个值是在jquery.treegrid.extension.js中绑定的
		if (tr)
			return tr.data("rowData");
	}

	function doRemove(id) {
		$("#tbodyId input[type='checkbox']").each(function() {
			$(this).prop("checked", false);
		})
		var rowid = "#rowid" + id;
		$(rowid).prop("checked", true);
		doDeleteObjects();
	}

	//执行删除业务
	function doDeleteObjects() {
		//1.获取选中记录的id值并校验
		let idArray = doGetCheckedIds();
		if (idArray.length == 0) {
			alert("请先选中");
			return;
		}
		console.log(idArray);
		//2.提示是否删除(借助confirm函数)
		if (!confirm("确认删除吗"))
			return;

		//3.定义删除的url
		var url = "arc/doDeleteObjects";
		//4.定义删除时要传递的参数
		var params = {
			"ids" : idArray.toString()
		}; //1,2,3,4
		//5.执行异步删除业务.
		$.ajax({
			url : "arc/doDeleteObjects",
			async : false,
			data : params,
			success : function(result) {
				if (result.state == 1) {

				} else {
					alert(result.message);
				}
			}
		});
		doGetObjects();
	}

	function doGetCheckedIds() {
		//1.定义一个数组,用户存储id
		let array = []; //new Array();
		//2.遍历所有checkbox获得选中的id存数组
		$("#tbodyId input[type='checkbox']")
		//each函数用于迭代输出
		.each(function() { //发现checkbox则执行此函数
			//$(this)代表迭代的input对象
			if ($(this).prop("checked")) {
				//将input对象的value值存数组
				array.push($(this).val())
			}
		});
		//3.返回存储了id的数组
		return array;
	}
</script>
