<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yj.sys.dao.SysAccountDao">
	
	
	
	<!-- 统计记录总数 -->
	<select id="getRowCount" resultType="Integer">
		select count(*) from sys_ap
		
	</select>
	
	<!-- 查询当前页数 -->
	<select id="findPageObjects" resultType="com.yj.sys.common.vo.SysApVo">
		
		order by created_time desc
		limit #{startIndex},#{pageSize}) ap join sys_ap_pics pic on ap.id=pic.ap_id;
	</select>
	
	<select id="findApById" resultType="com.yj.sys.common.vo.SysApVo">
		select ap.*,pic.path picture from (select * from sys_ap where id=#{id})ap join sys_ap_pics pic on ap.id=pic.ap_id;
	</select>
	
</mapper>