<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yj.sys.dao.SysStaffDao">

	<insert id="insertObject" useGeneratedKeys="true" keyProperty="id">
     	insert into sys_staff
      (name,password,deptId,email,mobile,salt,valid,createdTime,modifiedTime,createdUser,modifiedUser)
      values
    (#{name},#{password},#{deptId},#{email},#{mobile},#{salt},#{valid},
      now(),now(),#{createdUser},#{modifiedUser})
     </insert>
   
   <!-- sql元素一般用于定义sql语句的共性 -->
   <sql id="queryWhereId">
      <where>
       <if test="name!=null and name!=''">
        name like concat("%",#{name},"%")
       </if>
      </where>
   </sql>
   <!-- 统计记录总数 -->
   <select id="getRowCount" resultType="int">
      select count(*) 
      from sys_staff
      <include refid="queryWhereId"/>
   </select>
   
   
   <!-- 查询当前页数据-->
   <select id="findPageObjects"
           resultMap="sysStaffVoMap">
      select *
      from sys_staff
      <include refid="queryWhereId"/>
      order by id 
      limit #{startIndex},#{pageSize}    
   </select>
   
   <resultMap type="com.yj.sys.common.vo.SysStaffVo" id="sysStaffVoMap">
   		<association property="sysDept" column="deptId" select="com.yj.sys.dao.SysStaffDao.findDeptByStaffDeptId"></association>
   </resultMap>
   
   <!-- 基于多个id执行日志删除操作 -->
   <delete id="doDeleteObjects">
       delete from sys_staff
       where id in <!-- (1,2,3,4,5) -->
       <foreach collection="id"
                open="("
                close=")"
                separator=","
                item="id">
               #{id}
       </foreach>
   </delete>
    <update id="updateObject">
      update sys_staff
      set name=#{name},
          parentId=#{parentId},
          modifiedTime=now()
      where id=#{id}
   </update>
   
  
</mapper>



