<!DOCTYPE html>

<html lang="en" class="no-js">
<!-- BEGIN HEAD -->

<head>

<meta charset="utf-8" />

<title>寓家 | YUJIA</title>

<meta content="width=device-width, initial-scale=1.0" name="viewport" />

<meta content="" name="description" />

<meta content="" name="author" />

<!-- BEGIN GLOBAL MANDATORY STYLES -->

<link href="media/css/bootstrap.min.css" rel="stylesheet"
	type="text/css" />
<!-- <link href="media/css/bootstrap.css" rel="stylesheet" type="text/css" /> -->

<link href="media/css/bootstrap-responsive.min.css" rel="stylesheet"
	type="text/css" />

<link href="media/css/AdminLTE.min.css" rel="stylesheet" type="text/css" />

<link href="media/css/font-awesome.min.css" rel="stylesheet"
	type="text/css" />

<link href="media/css/style-metro.css" rel="stylesheet" type="text/css" />

<link href="media/css/style.css" rel="stylesheet" type="text/css" />

<link href="media/css/style-responsive.css" rel="stylesheet"
	type="text/css" />

<link href="media/css/default.css" rel="stylesheet" type="text/css"
	id="style_color" />

<link href="media/css/uniform.default.css" rel="stylesheet"
	type="text/css" />

<link href="media/css/bootstrap-datepicker.css" rel="stylesheet"
	type="text/css" />

<!-- END GLOBAL MANDATORY STYLES -->

<!-- BEGIN PAGE LEVEL STYLES -->


<link href="media/css/daterangepicker.css" rel="stylesheet"
	type="text/css" />

<link href="media/css/fullcalendar.css" rel="stylesheet" type="text/css" />

<link href="media/css/jqvmap.css" rel="stylesheet" type="text/css"
	media="screen" />

<link href="media/css/jquery.easy-pie-chart.css" rel="stylesheet"
	type="text/css" media="screen" />

<!-- END PAGE LEVEL STYLES -->

<link rel="shortcut icon" href="media/image/favicon.ico" />

<!-- 新增公寓的css -->
<!-- BEGIN PAGE LEVEL STYLES -->

<link rel="stylesheet" type="text/css"
	href="media/css/bootstrap-fileupload.css" />

<link rel="stylesheet" type="text/css"
	href="media/css/jquery.gritter.css" />

<link rel="stylesheet" type="text/css" href="media/css/chosen.css" />

<link rel="stylesheet" type="text/css"
	href="media/css/select2_metro.css" />

<link rel="stylesheet" type="text/css"
	href="media/css/jquery.tagsinput.css" />

<link rel="stylesheet" type="text/css" href="media/css/clockface.css" />

<link rel="stylesheet" type="text/css"
	href="media/css/bootstrap-wysihtml5.css" />

<link rel="stylesheet" type="text/css" href="media/css/datepicker.css" />

<link rel="stylesheet" type="text/css" href="media/css/timepicker.css" />

<link rel="stylesheet" type="text/css" href="media/css/colorpicker.css" />

<link rel="stylesheet" type="text/css"
	href="media/css/bootstrap-toggle-buttons.css" />

<link rel="stylesheet" type="text/css"
	href="media/css/daterangepicker.css" />

<link rel="stylesheet" type="text/css"
	href="media/css/datetimepicker.css" />

<link rel="stylesheet" type="text/css"
	href="media/css/multi-select-metro.css" />

<link href="media/css/bootstrap-modal.css" rel="stylesheet"
	type="text/css" />

<!-- END 新增公寓 -->

<!-- BEGIN 公寓详情模块 -->
<link href="media/css/jquery.fancybox.css" rel="stylesheet" />

<link href="media/css/search.css" rel="stylesheet" type="text/css" />
<!-- END 公寓详情模块 -->

<!-- BEGIN 订单模块 -->
<link rel="stylesheet" href="media/css/ionicons.min.css" />
<!-- Theme style -->
<link rel="stylesheet" href="media/css/AdminLTE.min.css" />
<link href="media/css/glyphicons.css" rel="stylesheet" />
<link href="media/css/halflings.css" rel="stylesheet" />
<link href="media/css/bootstrap-fileupload.css" rel="stylesheet"
	type="text/css" />
<link href="media/css/chosen.css" rel="stylesheet" type="text/css" />
<link href="media/css/profile.css" rel="stylesheet" type="text/css" />
<!--END订单模块  -->

<!-- 部门管理模块的树 -->
 <link rel="stylesheet" href="media/css/skin-blue.min.css">
  <link rel="stylesheet" href="media/css/layer.css">
  <link rel="stylesheet" href="media/css/metroStyle.css"/>
  <link rel="stylesheet" href="media/css/jquery.treegrid.css"/>


<!--BEGIN 租户档案管理  -->

<link href="media/css/bootstrap-fileupload.css" rel="stylesheet"
	type="text/css" />

<link href="media/css/chosen.css" rel="stylesheet" type="text/css" />

<link href="media/css/profile.css" rel="stylesheet" type="text/css" />

<link href="media/css/AdminLTE.min.css" rel="stylesheet" type="text/css" />

<link href="media/css/AdminLTE.css" rel="stylesheet" type="text/css" />

<!--END 租户档案管理  -->
</head>

<!-- END HEAD -->

<!-- BEGIN BODY -->

<body class="page-header-fixed">

	<!-- BEGIN HEADER -->

	<div class="header navbar navbar-inverse navbar-fixed-top">

		<!-- BEGIN TOP NAVIGATION BAR -->

		<div class="navbar-inner">

			<div class="container-fluid">

				<!-- BEGIN LOGO -->

				<a class="brand" id="compname" href="index.html"> 寓家综合管理后台 <!-- <img src="media/image/logo.png" alt="logo"/> -->
				</a>

				<!-- END LOGO -->

				<!-- BEGIN RESPONSIVE MENU TOGGLER -->

				<a href="javascript:;" class="btn-navbar collapsed"
					data-toggle="collapse" data-target=".nav-collapse"> <img
					src="media/image/menu-toggler.png" alt="" />

				</a>


				<!-- END RESPONSIVE MENU TOGGLER -->

				<!-- BEGIN TOP NAVIGATION MENU -->

				<ul class="nav pull-right">

					<!-- BEGIN USER LOGIN DROPDOWN -->

					<li class="dropdown user"><a href="#" class="dropdown-toggle"
						data-toggle="dropdown"> <img alt=""
							src="media/image/avatar1_small.jpg" /> <span class="username">刘文旭</span>

							<i class="icon-angle-down"></i>

					</a>

						<ul class="dropdown-menu">

							<li><a href="doLogout"><i class="icon-key"></i> 退出登陆</a></li>

						</ul></li>

					<!-- END USER LOGIN DROPDOWN -->

				</ul>

				<!-- END TOP NAVIGATION MENU -->

			</div>

		</div>

		<!-- END TOP NAVIGATION BAR -->

	</div>

	<!-- END HEADER -->

	<!-- BEGIN CONTAINER -->

	<div class="page-container">

		<!-- BEGIN SIDEBAR -->

		<div class="page-sidebar nav-collapse collapse">

			<!-- BEGIN SIDEBAR MENU -->

			<ul class="page-sidebar-menu">
				<!-- 隐藏菜单栏按钮 -->
				<li>
					<!-- BEGIN SIDEBAR TOGGLER BUTTON -->

					<div class="sidebar-toggler icon-arrow-left">
						<!-- //<i class=""></i> -->
					</div> <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
				</li>
				<!-- 首页 -->
				<li class="start active "><a id="load-index-id"> <i
						class="icon-home"></i> <span class="title">首页</span> <span
						class="selected"></span>
				</a></li>
				<!-- 公寓管理 -->
				<li class=""><a> <i class="icon-th"></i> <span
						class="title">公寓管理</span> <span class="arrow "></span>
				</a>
					<ul class="sub-menu">
						<li><a id="load-addAp-id"> 新增公寓</a></li>
						<li><a id="load-ap-id"> 公寓详情</a></li>
					</ul></li>
				<!-- 业务处理中心 -->
				<li class=""><a> <i class="icon-table"></i> <span
						class="title">业务处理中心</span> <span class="arrow "></span>
				</a>
					<ul class="sub-menu">
						<li><a id="load-houseOrder-id"> 公寓订单预约管理</a></li>
						<li><a id="load-cleaner-id"> 清洁服务订单管理</a></li>
						<li><a id="load-account-id"> 财务管理中心</a></li>
					</ul></li>
				<!-- 档案管理 -->
				<li class=""><a> <i class="icon-briefcase"></i> <span
						class="title">档案管理</span> <span class="arrow "></span>
				</a>
					<ul class="sub-menu">
						<li><a id="load-renter-id"> 租客档案管理</a></li>
						<li><a id="load-owner-id"> 业主档案管理</a></li>
						<li><a id="cleaner-id"> 服务人员管理</a></li>
					</ul>
				</li>
				<!-- 部门权限管理 -->
				<li class=""><a href="javascript:;"> <i class="icon-cogs"></i>
						<span class="title">权限管理</span> <span class="arrow "></span>
				</a>
					<ul class="sub-menu">
						<li><a id="load-dept-id"> 部门管理</a></li>
						<li><a id="load-staff-id"> 员工管理</a></li>
						<li><a id="menu-management">菜单管理</a></li>
						<li><a id="#">角色管理</a></li>
					</ul></li> 
					<!-- 内部日志管理: -->
				<li class=""><a href="javascript:;"> <i
						class="icon-briefcase"></i> <span class="title">日志管理中心</span> <span
						class="arrow "></span>
				</a>
					<ul class="sub-menu">
						<li><a id="log-interior">内部日志管理</a></li>
					</ul></li>
			</ul>

			<!-- END SIDEBAR MENU -->

		</div>

		<!-- END SIDEBAR -->

		<!-- BEGIN PAGE -->

		<div class="page-content"></div>

		<!-- END PAGE -->

	</div>

	<!-- END CONTAINER -->

	<!-- BEGIN FOOTER -->

	<div class="footer">

		<div class="footer-inner">2019 &copy 寓家|专注生活</div>

		<div class="footer-tools">

			<span class="go-top"> <i class="icon-angle-up"></i>

			</span>

		</div>

	</div>

	<!-- END FOOTER -->

	<!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->

	<!-- BEGIN CORE PLUGINS -->

	<script src="media/js/jquery-1.10.1.min.js" type="text/javascript"></script>

	<script src="media/js/jquery-migrate-1.2.1.min.js"
		type="text/javascript"></script>

	<!-- IMPORTANT! Load jquery-ui-1.10.1.custom.min.js before bootstrap.min.js to fix bootstrap tooltip conflict with jquery ui tooltip -->

	<script src="media/js/jquery-ui-1.10.1.custom.min.js"
		type="text/javascript"></script>

	<script src="media/js/bootstrap.min.js" type="text/javascript"></script>

	<!--[if lt IE 9]>

	<script src="media/js/excanvas.min.js"></script>

	<script src="media/js/respond.min.js"></script>  

	<![endif]-->

	<script src="media/js/jquery.slimscroll.min.js" type="text/javascript"></script>

	<script src="media/js/jquery.blockui.min.js" type="text/javascript"></script>

	<script src="media/js/jquery.cookie.min.js" type="text/javascript"></script>

	<script src="media/js/jquery.uniform.min.js" type="text/javascript"></script>

	<!-- END CORE PLUGINS -->

	<!-- BEGIN PAGE LEVEL PLUGINS -->

	<script src="media/js/jquery.vmap.js" type="text/javascript"></script>

	<script src="media/js/jquery.vmap.russia.js" type="text/javascript"></script>

	<script src="media/js/jquery.vmap.world.js" type="text/javascript"></script>

	<script src="media/js/jquery.vmap.europe.js" type="text/javascript"></script>

	<script src="media/js/jquery.vmap.germany.js" type="text/javascript"></script>

	<script src="media/js/jquery.vmap.usa.js" type="text/javascript"></script>

	<script src="media/js/jquery.vmap.sampledata.js" type="text/javascript"></script>

	<script src="media/js/jquery.flot.js" type="text/javascript"></script>

	<script src="media/js/jquery.flot.resize.js" type="text/javascript"></script>

	<script src="media/js/jquery.pulsate.min.js" type="text/javascript"></script>

	<script src="media/js/date.js" type="text/javascript"></script>

	<script src="media/js/daterangepicker.js" type="text/javascript"></script>

	<script src="media/js/bootstrap-datepicker.js" type="text/javascript"></script>

	<script src="media/js/fullcalendar.min.js" type="text/javascript"></script>

	<script src="media/js/jquery.easy-pie-chart.js" type="text/javascript"></script>

	<script src="media/js/jquery.sparkline.min.js" type="text/javascript"></script>

	<!-- END PAGE LEVEL PLUGINS -->

	<!-- BEGIN PAGE LEVEL SCRIPTS -->

	<script src="media/js/app.js" type="text/javascript"></script>

	<script src="media/js/index.js" type="text/javascript"></script>

	<!-- END PAGE LEVEL SCRIPTS -->


	<!-- BEGIN PAGE LEVEL PLUGINS -->

	<script type="text/javascript" src="media/js/jquery.validate.min.js"></script>

	<script type="text/javascript" src="media/js/additional-methods.min.js"></script>

	<script type="text/javascript" src="media/js/select2.min.js"></script>

	<script type="text/javascript" src="media/js/chosen.jquery.min.js"></script>

	<!-- END PAGE LEVEL PLUGINS -->

	<!-- 上传图片栏新增脚本 -->

	<script type="text/javascript" src="media/js/ckeditor.js"></script>

	<script type="text/javascript" src="media/js/bootstrap-fileupload.js"></script>

	<script type="text/javascript" src="media/js/chosen.jquery.min.js"></script>

	<script type="text/javascript" src="media/js/select2.min.js"></script>

	<script type="text/javascript" src="media/js/wysihtml5-0.3.0.js"></script>

	<script type="text/javascript" src="media/js/bootstrap-wysihtml5.js"></script>

	<script type="text/javascript" src="media/js/jquery.tagsinput.min.js"></script>

	<script type="text/javascript" src="media/js/jquery.toggle.buttons.js"></script>

	<script type="text/javascript" src="media/js/bootstrap-datepicker.js"></script>

	<script type="text/javascript"
		src="media/js/bootstrap-datetimepicker.js"></script>

	<script type="text/javascript" src="media/js/clockface.js"></script>

	<script type="text/javascript" src="media/js/date.js"></script>

	<script type="text/javascript" src="media/js/daterangepicker.js"></script>

	<script type="text/javascript" src="media/js/bootstrap-colorpicker.js"></script>

	<script type="text/javascript" src="media/js/bootstrap-timepicker.js"></script>

	<script type="text/javascript"
		src="media/js/jquery.inputmask.bundle.min.js"></script>

	<script type="text/javascript"
		src="media/js/jquery.input-ip-address-control-1.0.min.js"></script>

	<script type="text/javascript" src="media/js/jquery.multi-select.js"></script>

	<script src="media/js/bootstrap-modal.js" type="text/javascript"></script>

	<script src="media/js/bootstrap-modalmanager.js" type="text/javascript"></script>

	<script src="media/js/form-validation.js"></script>

	<script src="media/js/form-components.js"></script>

	<!-- 公寓详情栏新增脚本 -->
	<script src="media/js/jquery.fancybox.pack.js"></script>
	<!-- END -->

	<!-- 树 -->
	<script src="media/js/jquery.treegrid.extension.js"></script>
	<!-- end -->
	<script>
			jQuery(document).ready(function() {

				App.init(); // initlayout and core plugins

				//Index.init();

				Index.initJQVMAP(); // init index page's custom scripts

				Index.initCalendar(); // init index page's custom scripts

				Index.initCharts(); // init index page's custom scripts

				Index.initChat();

				Index.initMiniCharts();

				Index.initIntro();
				
				$(".page-content").load("doIndex");
				$("#load-index-id").click(function(){
					$(".page-content").load("doIndex")
				})
				loadpage("load-addAp-id","ap/doShowApUI");
				loadpage("load-ap-id","ap/doApListUI");
				loadpage("load-role-id","role/doRoleListUI");
				loadpage("load-staff-id","staff/doStaffListUI");
				loadpage("load-houseOrder-id","houseOrder/doHouseOrderListUI");
				loadpage("load-cleaner-id","cleaner/doCleanerListUI");
				loadpage("load-dept-id","dept/doDeptListUI");
				loadpage("load-renter-id","renter/doRenterListUI");
				<!-- 日志管理id及对应url  -->
				loadpage("log-interior","log/doLogListUI");
				<!-- 部门权限管理各子模块id及对应url  -->
				<!-- 部门管理  -->
				loadpage("dept-management","dept/doDeptListUI");
				<!-- 菜单管理  -->
				loadpage("menu-management","menu/doMenuListUI");

				/* 财务模块 */
				loadpage("load-account-id","account/doAccountListUI");
				/* 用户模块 */
				loadpage("load-owner-id","owner/doOwnerListUI");
				/* 服务人员模块 */
				
				loadpage("cleaner-id","arc/doLogWaiterUI");
			});
			
			function loadpage(id,url){
				$("#"+id).click(
					function(){$(".page-content").load(url);}
				)
			} 
			
	</script>


</body>

<!-- END BODY -->

</html>
